.preview-discussion {
  display: none;
  position: absolute;
  background: #fff;
  z-index: 99;
}


body when (@config-dark-mode =true) {
  .preview-discussion {
    background: #18141f !important;
  }
}